.card {
  width: 360px;
  margin-bottom: 50px;
  background-color: #e3f3ff;
}
.card-title {
  font-weight: 800;
  font-size: 31px;
  text-align: center;
  text-transform: uppercase;
}
.card-text {
  font-size: 18px;
}
.card-image {
  width: 100%;
}