* {
  box-sizing: border-box;
}
body,
h3,
p {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
}
body {
  min-width: 850px;
  font-family: 'Open Sans', Arial, sans-serif;
}
.card {
  width: 360px;
  margin-bottom: 50px;
  background-color: #e3f3ff;
}
.card-title {
  font-weight: 800;
  font-size: 31px;
  text-align: center;
  text-transform: uppercase;
}
.card-text {
  font-size: 18px;
}
.card-image {
  width: 100%;
}